*{
  margin: 0px;
  padding: 0px;
  
}

.descProduct{
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  box-shadow: 0 0 5px #ccc;
}

.navbar{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color:#019ead;
}

.navbar-heading{
  font-size: 33px;
  font-weight: bold;
  margin-left: 50px;
  color: white;
  font-style: oblique
}

.cart-icon{
  width: 80px;
  cursor: pointer;
  position: absolute;
  left: 88%;
}

.logout-icon{
  width: 80px;
  cursor: pointer;
}

.logout-icon .fa{
  color:white;
  
  cursor: pointer;
  
  font-size: 33px;
}

.fa{
  color:white;
  padding: 12px;
  cursor: pointer;
}
.form-icon{
  padding: 6px;
  color:#24a9b5;
  font-size: 22px;
  margin-bottom: 5px;
}

.discountPrice{
  margin-top: 46px;
}

.bag-quantity{
  color: white;
  background-color: red;
  padding: 0.6px;
  vertical-align: top;
  margin-left: -10px;
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
}

.shopping-img{
  max-height: 400px;
}

.heading {
  padding: 21px ;
  margin-left: 37%;
  font-size: 20px;
  font-style: italic;
  color: #cf5454;
}

.items{
  color: #ada4a4;
  padding-left: 17%;
  margin-top: 12px
}

.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.card {
  background: white;
  padding: 30px;
  text-align: center;
}

.productImg{
  height: 180px;
  cursor : pointer;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.productImg:hover{
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
}
  
.addedCartImg{
  height: 180px;
  cursor : pointer;
}

.watchName{
  padding: 16px;
  font-size: 16px;
}

.card a{
  text-decoration: none;
  color: black;
}



.watchOffer{
  font-size: 15px;
  color: rgb(23 170 23);
  font-weight: 500
}

.watch-Offer{
  font-size: 18px;
  color: rgb(21 167 21);
  font-weight: 500
}

.watchPrice{
  color: #e74747;
  font-size: 27px;
}

.details{
  /* box-shadow: 0 0 5px #ccc; */
  padding: 10px;
  box-shadow: rgb(0 0 0 / 16%) 0px 5px 15px
}

.details .big-img{
  overflow: hidden;
  margin: 50px;
  display: flex;
}

.big-img img{
  max-height: 400px;
}

.details .box{
  margin: 100px auto;
  padding-left: 80px
}

.box .row{
  margin-bottom: 6px;
}

.box .row h2{
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box .row span{
  color: crimson;
  font-size: 23px;
}

.box p{
  line-height: 1.5;
  margin: 15px 0;
}

.box .cart{
  background: rgb(17, 17, 17);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
}

.cartCard {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap:15px;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 34px;
}

.yourCart{
  display: flex;
  justify-content: center;
  margin-top: 37px;
  letter-spacing: 15px;
  color: #cf5454;
  padding-bottom: 50px;
  font-size: 29px;
  font-style:oblique;
}

.btn{
  background-color:#7da398;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  cursor: pointer;
}

.btn:hover{
  background-color: #4c6965;
}

.totalCard {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 25px;
  margin-right: 25px;
  display: grid;
  height:270px;
}

.price {
  color: #787878;
  font-size: 22px;
}

.cart-product-quantity{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

 .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

 .cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-product-total-price {
  padding-right: 3rem;
  font-weight: 700;
}

.cart-product-price{
  padding-left: 35px;
}

.clear-cart{
  font-size: 16px;
  padding: 11px;
  height: 5%;
  margin-left: 2%;
  border-radius:12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor : pointer;
  border: 0.5px solid rgb(177, 177, 177);
  color: #787878;
}

.clear-cart:hover{
  background-color : #7f7f7fab;
  color:white;
}

.buttons{
  display:flex;
  margin-top: 50px;
}

.continue-shopping{
  margin-left: 76%;
  font-size: 22px;
  color: gray;
  font-style: italic;
  margin-top: 20px;
  position: absolute;
  top: 565px;
    
}

.cutoff{
  color: #787878 !important;
  font-size: 18px !important;
  margin-left: 12px;
  text-decoration: line-through;
}

.saveAmount{
  color: green;
  font-size: 20px;
}

.leftPart{
  width: 74%;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  color: #787878;
  margin-top: 50px;
  margin-left: 19px;
}

.rightPart{
  position: absolute;
  top: 255px;
  left: 76%;
  width: 24%;
  z-index: 9999;
}

.cart-empty{
  margin-left: 35%;
  letter-spacing: 6px;
  padding-top: 200px;
  font-size: 35px;
  font-style: italic;
  color: #d47272;
}

.login-page{
  background-color: #deefee;
  padding: 28px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 720px;
}

.title{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 55px;
  font-size: 42px;
  margin-bottom: 50px;
  color: #24a9b5;
}

.login-form{
  width: 35%;
  height: 78%;
  background-color: white;
  border-radius : 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Login-form{
  width: 35%;
  height: 60%;
  background-color: white;
  border-radius : 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-group {
  margin-bottom: 26px;
  padding-left: 72px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input-group:nth-last-child(-n + 2) {
  margin-bottom: 50px;
}

.input-group  label {
  margin-bottom: 5px;
  color: #24a9b5;
  font-size: 20px;
  width: 80%;
}
.input-group input {
  background: #f2f2f5;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  color: #676767;
  height: 40px;
  padding: 0 15px;
  margin-right: 50px;
  width: 180%;
  font-size: 18px;
}

.input-group input:focus-visible {
  outline: 2px solid #28d6e0
}

.input-group  input:focus {
  background: #fff;
  border-color: #c4c4c4;
}

.input-group  input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.submit{
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px 0;
  margin-left: 70px;
  width: 81%;
  margin-top: 20px;
  transition: all 0.5s ease;
  height:44px;
  color:#24a9b5
}

.submit:disabled{
  background: #ececec;
}

.submit:hover{
  background-color: #24a9b5;
  color: white;
}

.login-here{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  color: #24a9b5;
}

.logged{
  padding-left: 10px;
  color: rgb(1, 46, 40);
}


.login-here a{
  color: rgb(1, 46, 40);
}

.errorStyle{
  font-size: 15px;
  color: red;
  position: absolute;
  margin-top: 60px;
  margin-right: 68px;
  font-weight: 200;
}

.errorEmailStyle{
  font-size: 15px;
  color: red;
  position: absolute;
  margin-top: 60px;
  margin-right: 85px;
  font-weight: 200;
}

.errorPhoneStyle{
  font-size: 15px;
  color: red;
  position: absolute;
  margin-top: 60px;
  margin-left: 49px;
  font-weight: 200;
}

.continueShopping{
  font-size: 26px;
  color: gray;
  font-style: italic;
  margin-left: 44%;
}

@media only screen and (max-width: 1394px){
  .navbar-heading{
    font-size: 30px;
  }
  .title{
    font-size: 39px;
  }
  
  .input-group{
    padding-left: 47px;
  }
  .input-group input{
    margin-right: 50px;
    width: 97%;
  }
  .submit{
    margin-left: 42px;
  }
}

@media only screen and (max-width :1210px){
  .login-form{
    width: 45%;
  }
  .Login-form{
    width: 45%;
  }
} 

@media only screen and (max-width :961px){
  .login-form{
    width: 56%;
  }
  .Login-form{
    width: 56%;
  }
}

@media only screen and (max-width :790px){
  .login-form{
    width: 70%;
  }
  .Login-form{
    width: 70%;
  }
}

@media only screen and (max-width :660px){
  .login-form{
    width: 82%;
  }
  .Login-form{
    width: 82%;
  }
}

@media only screen and (max-width : 560px){
  .input-group{
    padding-left: 21px;
  }
  .input-group input {
    width: 78%;
    margin-right: 22px;
    
  }
  
  .submit{
    margin-left: 38px;
  }
} 

 @media only screen and (max-width : 462px){
  .input-group input{
    height: 37px;
  }
  .title{
    font-size: 37px;
  }
  .input-group label{
     font-size: 17px;
  }
  .submit{
    margin-left: 34px;
  }
  .login-here{
    font-size: 14px;
  }
  .Login-here{
    font-size: 14px;
  }
}

@media only screen and (max-width:424px){
  .input-group label{
    font-size: 14px;
  }
  .input-group{
    padding-left: 9px;
  }
  .submit{
    margin-left: 28px;
  }
} 

@media only screen and (max-width: 400px){
  .login-form{
    width: 92%;
  }
  .Login-form{
    width: 92%;
  }
}

@media only screen and (max-width: 359px){
  .login-form{
    width: 100%;
  }
  .Login-form{
    width: 100%;
  }
}

@media only screen and (max-width: 330px){
  .login-here{
    font-size: 12px;
  }
  .Login-here{
    font-size: 12px;
  }
}

@media only screen and (max-width: 1002px){
  .productsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }
  .items{
    padding-left: 23%;
  }
  .addedCartImg{
    height: 121px
  }
  .cart-product-quantity{
    width: 95px
  }
}

@media only screen and (max-width: 710px){
  .productsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
  }
}

@media only screen and (max-width: 550px){
  .navbar-heading{
    font-size: 27px;
    margin-left: 16px;
  }
  .details .big-img{
    display: grid;
  }
  .descProduct{
    max-width: 595px;
  }
  .big-img img{
    max-height: 264px;
    padding-top: 80px;
    margin-left: 62px;
  }
  .details.box{
    margin: 70px auto;
  }
}

@media only screen and (max-width: 470px){
  .navbar-heading{
    font-size: 26px;
  }
  .cartCard{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 25px;
  }
  .leftPart{
    width: 68%;
  }
  .btn{
    padding: 5px;
  }
  .productsWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card{
    padding: 10px;
  }
}

@media only screen and (max-width : 1050px){
  .heading{
    margin-left: 33%;
  }
}

@media only screen and (max-width : 920px){
  .heading{
    margin-left: 31%;
    padding: 16px;
  }
}

@media only screen and (max-width : 735px){
  .heading{
    margin-left: 24%;
    font-size: 19px;
  }
}

@media only screen and (max-width : 680px){
  .heading{
    margin-left: 20%;
    
  }
}

@media only screen and (max-width : 570px){
  .heading{
    margin-left: 22%;
    font-size: 15px;
  }
}

@media only screen and (max-width : 700px){
  .items{
    padding-left: 30%;
  }
}

@media only screen and (max-width : 1395px){
  .descProduct{
    max-width: 1100px;
  }

  .big-img img{
    max-height: 360px;
    padding-top: 37px;
  }
  
}

@media only screen and (max-width : 1121px){
  .descProduct{
    max-width: 854px;
  }

  .big-img img{
    max-height: 328px;
    padding-top: 74px;
  }

}
@media only screen and (max-width : 868px){
  .descProduct{
    max-width: 690px;
  }

  .big-img img{
    max-height: 264px;
    padding-top: 115px;
  }
}

@media only screen and (max-width : 893px){
  .cart-product-quantity{
    width: 82px
  }
  .leftPart{
    width: 71%
  }
  .addedCartImg {
    height: 87px;
  }
  .cart-product-quantity {
   width: 57px;
  }
  .btn{
    padding: 9px;
  }
  .cart-product-quantity button{
    padding: 0.7rem 0.5rem;
  }
  .cart-empty{
    margin-left: 13%;
    letter-spacing: 3px;
  }

}

@media only screen and (max-width : 1210px){
  .cart-empty{
    margin-left: 17%;
  }
  .leftPart{
    width: 72%
  }
}

@media only screen and (max-width : 1043px){
  .cart-empty{
    margin-left: 16%;
    letter-spacing: 3px;
  }
}

@media only screen and (max-width : 780px){
  .cart-empty{
    margin-left: 12%;
    letter-spacing: 2px;
    font-size: 28px;
  }
}

@media only screen and (max-width : 556px){
  .cart-empty{
    margin-left: 10%;
    letter-spacing: 2px;
    font-size: 27px;
  }
}

@media only screen and (max-width : 766px){
  .cart-product-price{
    padding-right: 11px;
  }
  .cart-product-total-price{
    padding-left: 7px;
  }
}

@media only screen and (max-width : 839px){
  .cartCard{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap:20px;
}
}

@media only screen and (max-width : 637px){
  .cart-product-price{
    padding-left: 2px;
  }
}

@media only screen and (max-width : 572px){
  .cartCard{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
  }
}

@media only screen and (max-width : 538px){
  .cartCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
  }
}

@media only screen and (max-width : 543px){
  .cartCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}

@media only screen and (max-width :588px){
  .price{
    font-size: 18px;
  }
}

@media only screen and (max-width : 376px){
 .price{
    font-size: 14px;
  }
}

@media only screen and (max-width : 439px){
  .cart-icon{
    width: 66px;
  }
  .navbar-heading{
    font-size: 24px;
  }
}

@media only screen and (max-width : 390px){
  .cart-icon{
    width: 46px;
  }
  .navbar-heading{
    font-size: 21px;
  }
}

@media only screen and (max-width : 340px){
  .navbar-heading{
    font-size: 19px;
  }
}

@media only screen and (max-width : 464px){
  .heading{
    margin-left: 20%;
    font-size: 13px;
  }
}

@media only screen and (max-width : 401px){
  .heading{
    margin-left: 17%;
  }
}

@media only screen and (max-width : 350px){
  .heading{
    margin-left: 6%;
  }
}

@media only screen and (max-width : 500px){
  .big-img img{
    max-height: 230px;
  }
  .details .box {
    margin: 57px auto;
  }
}

@media only screen and (max-width : 409px){
  .big-img img{
    margin-left: 33px;
  }
  .details.box{
    padding-left: 35px;
    margin: 58px auto;
  }
  
}

@media only screen and (max-width :379px){
  .big-img img{
    max-height: 197px;
  }
  .details.box{
    margin : 50px auto;
    padding-left: 24px;
    font-size: 15px;
  }
}

@media only screen and (max-width :347px){
  .big-img img{
    margin-left: 13px;
  }
  .details .box {
    padding-left: 49px;
}
}

@media only screen and (max-width :330px){
  .big-img img{
    max-height: 185px;
  }
}

@media only screen and (max-width : 820px){
  .clear-cart {
    font-size: 16px;
    padding: 11px;
    margin-left: 2%;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    cursor: pointer;
    border: 0.5px solid rgb(177, 177, 177);
    color: #787878;
    position: absolute;
    top: 224px;
    height: 7%;
}
.continue-shopping{
  margin-left: 73%;
    font-size: 22px;
    color: gray;
    font-style: italic;
    margin-top: 24px;
    position: absolute;
    top: 205px;
}
.rightPart{
  position: relative;
    top: 93%;
    width: 48%;
    left: 30%;
}
.leftPart{
  width: 95%;
  margin-top: 80px;
}
}

@media only screen and (max-width : 730px){
  .continue-shopping{
    font-size: 20px;
  }
}

@media only screen and (max-width :650px){
  .continue-shopping{
    margin-left: 69%;
  }
  .leftPart{
    width: 97%;
  }
}

@media only screen and (max-width :579px){
  .continue-shopping{
    margin-left: 66%;
  }
}

@media only screen and (max-width :526px){
  .continue-shopping{
    margin-left: 61%;
  }
}

@media only screen and (max-width :461px){
  .continue-shopping{
    margin-left: 55%;
  }
}

@media only screen and (max-width :400px){
  .continue-shopping{
    margin-left: 50%;
    font-size: 19px;
  }
}

@media only screen and (max-width :335px){
  .continue-shopping{
    margin-left: 69%;
  }
}

@media only screen and (max-width : 730px){
  .rightPart{
    width: 50%;
    left: 28%;
  }
}

@media only screen and (max-width : 630px){
  .rightPart{
    width: 56%;
    left: 28%;
  }
}

@media only screen and (max-width : 530px){
  .rightPart{
    width: 64%;
    left: 29%;
  }
}

@media only screen and (max-width : 320px){
  .rightPart{
    width: 73%;
    left: 21%;
  }
  .totalCard{
    padding: 35px;
  }
  .price{
    font-size: 18px;
  }
}